body {
  margin: 0;
  /* background-color: #343a40; */
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-links a {
  color: grey;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}
.header-links a:hover {
  color: black;
}

.button {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #343a40;
  text-align: center;
  color:white;
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
  margin: 15px;
}

.button2 {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #343a40;
  text-align: center;
  color:white;
  font-size: 1.2rem;
  width: 100px;
  height: 35px;
  margin: 15px;
}

.section2 {
  padding: 120px 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--dark-grey);
}

/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
  padding: 1rem;
}
.cart-list {
  flex: 3 1 60rem;
  padding: 1rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 1rem;
  list-style-type: none;
  padding: 1rem;
  font-size: 1.2rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 15rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
  font-size: 1.2rem;
}
.cart-name {
  flex: 8 1;
  
}
.cart-price {
  flex: 1 1;
  font-size: 1.2rem;
  text-align: right;
}
/* forms */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding-top: 1rem;
 } 
.form-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  font-size: 1.2rem;

}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  width: 100%;
}

.form-group {
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem;
}